/* Animation */
/* Phần dùng chung */
.header-son:hover {
  background-color: red;
  cursor: pointer;
}
/* Hiệu ứng dấu gạch chân trên menu */
/* LATEST */
.latest-son .animation-latest-U1,
.latest-son .animation-latest-U2,
.latest-son .animation-latest-U3,
.latest-son .animation-latest-U4,
.latest-son .animation-latest-U5,
.MUTV-son-one .animation-MUTV-U1,
.MUTV-son-two .animation-MUTV-U2,
.MUTV-son-three .animation-MUTV-U3,
.MUTV-son-four .animation-MUTV-U4,
.MUTV-son-five .animation-MUTV-U5,
.MUTV-son-six .animation-MUTV-U6,
.MUTV-son-seven .animation-MUTV-U7,
.MUTV-son-eight .animation-MUTV-U8,
.MUTV-son-nine .animation-MUTV-U9,
.MUTV-son-ten .animation-MUTV-U10,
.fixtures-son-one .animation-fixtures-U1,
.fixtures-son-two .animation-fixtures-U2,
.fixtures-son-three .animation-fixtures-U3,
.fixtures-son-four .animation-fixtures-U4,
.fixtures-son-five .animation-fixtures-U5,
.tickets-son-one .animation-tickets-U1,
.tickets-son-two .animation-tickets-U2,
.tickets-son-three .animation-tickets-U3,
.tickets-son-four .animation-tickets-U4,
.tickets-son-five .animation-tickets-U5,
.tickets-son-six .animation-tickets-U6,
.tickets-son-seven .animation-tickets-U7,
.tickets-son-eight .animation-tickets-U8,
.tickets-son-nine .animation-tickets-U9,
.tickets-son-ten .animation-tickets-U10,
.myUnited-son-one .animation-myUnited-U1,
.myUnited-son-two .animation-myUnited-U2,
.fans-son-one .animation-fans-U1,
.fans-son-two .animation-fans-U2,
.fans-son-three .animation-fans-U3,
.fans-son-four .animation-fans-U4,
.fans-son-five .animation-fans-U5,
.fans-son-six .animation-fans-U6,
.fans-son-seven .animation-fans-U7,
.fans-son-eight .animation-fans-U8,
.fans-son-nine .animation-fans-U9,
.fans-son-ten .animation-fans-U10,
.players-son-one .animation-players-U1,
.players-son-two .animation-players-U2,
.players-son-three .animation-players-U3,
.players-son-four .animation-players-U4,
.stadium-son-one .animation-stadium-U1,
.stadium-son-two .animation-stadium-U2,
.stadium-son-three .animation-stadium-U3,
.stadium-son-four .animation-stadium-U4,
.stadium-son-five .animation-stadium-U5,
.stadium-son-six .animation-stadium-U6,
.stadium-son-seven .animation-stadium-U7,
.stadium-son-eight .animation-stadium-U8,
.stadium-son-nine .animation-stadium-U9,
.more-son-one .animation-more-son-U1,
.more-son-two .animation-more-son-U2,
.more-son-three .animation-more-son-U3,
.more-son-four .animation-more-son-U4,
.more-son-five .animation-more-son-U5,
.more-son-six .animation-more-son-U6,
.more-sun-one .animation-more-U1,
.more-sun-two .animation-more-U2,
.more-sun-three .animation-more-U3,
.more-sun-four .animation-more-U4,
.more-sun-five .animation-more-U5,
.more-sun-six .animation-more-U6,
.more-sun-seven .animation-more-U7,
.more-sun-eight .animation-more-U8,
.more-sun-nine .animation-more-U9,
.more-sun-ten .animation-more-U10,
.more-sun-eleven .animation-more-U11,
.more-sun-twelve .animation-more-U12,
.more-sun-thirteen .animation-more-U13,
.more-sun-fourteen .animation-more-U14,
.more-sun-fifteen .animation-more-U15,
.more-sun-sixteen .animation-more-U16,
.more-sun-seventeen .animation-more-U17,
.more-sun-eighteen .animation-more-U18,
.more-sun-nineteen .animation-more-U19,
.more-sun-twenty .animation-more-U20,
.more-sun-twentyOne .animation-more-U21,
.more-sun-twentyTwo .animation-more-U22,
.more-sun-twentyThree .animation-more-U23,
.more-sun-twentyFour .animation-more-U24,
.more-sun-twentyFive .animation-more-U25,
.more-sun-twentySix .animation-more-U26,
.more-sun-twentySeven .animation-more-U27,
.more-sun-twentyEight .animation-more-U28,
.more-sun-twentyNine .animation-more-U29,
.more-sun-thirty .animation-more-U30,
.more-sun-thirtyOne .animation-more-U31,
.more-sun-thirtyTwo .animation-more-U32,
.more-sun-thirtyThree .animation-more-U33,
.more-sun-thirtyFour .animation-more-U34,
.more-sun-thirtyFive .animation-more-U35,
.more-sun-thirtySix .animation-more-U36,
.more-sun-thirtySeven .animation-more-U37,
.more-sun-thirtyEight .animation-more-U38 {
  display: block;
  position: absolute;
  background-color: #c70101;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.more-son-one .animation-more-son-U1,
.more-son-two .animation-more-son-U2,
.more-son-three .animation-more-son-U3,
.more-son-four .animation-more-son-U4,
.more-son-five .animation-more-son-U5,
.more-son-six .animation-more-son-U6,
.slider-1 .animation-underlined,
.slider-2 .animation-underlined-one,
.slider-3 .animation-underlined-two {
  background-color: yellow !important;
}
.latest-son .animation-latest-U1 {
  top: 30px !important;
  height: 2px !important;
  left: 86px;
  width: 0 !important;
}
.latest-son .animation-latest-U2 {
  top: 30px !important;
  height: 2px !important;
  left: 147px;
  width: 0 !important;
}
.latest-son .animation-latest-U3 {
  top: 30px !important;
  height: 2px !important;
  left: 233px;
  width: 0 !important;
}
.latest-son .animation-latest-U4 {
  top: 30px !important;
  height: 2px !important;
  left: 338px;
  width: 0 !important;
}
.latest-son .animation-latest-U5 {
  top: 30px !important;
  height: 2px !important;
  left: 440px;
  width: 0 !important;
}
.latest-son:hover .animation-latest-U1 {
  width: 30px !important;
}
.latest-son:nth-child(2):hover .animation-latest-U2 {
  width: 57px !important;
}
.latest-son:nth-child(3):hover .animation-latest-U3 {
  width: 72px !important;
}
.latest-son:nth-child(4):hover .animation-latest-U4 {
  width: 70px !important;
}
.latest-son:nth-child(5):hover .animation-latest-U5 {
  width: 33px !important;
}
/* LATEST */
/* MUTV */
.MUTV-son-one .animation-MUTV-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.MUTV-son-two .animation-MUTV-U2 {
  top: 63px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.MUTV-son-three .animation-MUTV-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 255px !important;
  width: 0 !important;
}
.MUTV-son-four .animation-MUTV-U4 {
  top: 63px !important;
  height: 2px !important;
  left: 255px !important;
  width: 0 !important;
}
.MUTV-son-five .animation-MUTV-U5 {
  top: 32px !important;
  height: 2px !important;
  left: 414px !important;
  width: 0 !important;
}
.MUTV-son-six .animation-MUTV-U6 {
  top: 63px !important;
  height: 2px !important;
  left: 414px !important;
  width: 0 !important;
}
.MUTV-son-seven .animation-MUTV-U7 {
  top: 32px !important;
  height: 2px !important;
  left: 574px !important;
  width: 0 !important;
}
.MUTV-son-eight .animation-MUTV-U8 {
  top: 63px !important;
  height: 2px !important;
  left: 574px !important;
  width: 0 !important;
}
.MUTV-son-nine .animation-MUTV-U9 {
  top: 32px !important;
  height: 2px !important;
  left: 753px !important;
  width: 0 !important;
}
.MUTV-son-ten .animation-MUTV-U10 {
  top: 63px !important;
  height: 2px !important;
  left: 753px !important;
  width: 0 !important;
}
.MUTV-son-one:hover .animation-MUTV-U1 {
  width: 92px !important;
}
.MUTV-son-two:hover .animation-MUTV-U2 {
  width: 140px !important;
}
.MUTV-son-three:hover .animation-MUTV-U3 {
  width: 132px !important;
}
.MUTV-son-four:hover .animation-MUTV-U4 {
  width: 120px !important;
}
.MUTV-son-five:hover .animation-MUTV-U5 {
  width: 130px !important;
}
.MUTV-son-six:hover .animation-MUTV-U6 {
  width: 122px !important;
}
.MUTV-son-seven:hover .animation-MUTV-U7 {
  width: 53px !important;
}
.MUTV-son-eight:hover .animation-MUTV-U8 {
  width: 153px !important;
}
.MUTV-son-nine:hover .animation-MUTV-U9 {
  width: 36px !important;
}
.MUTV-son-ten:hover .animation-MUTV-U10 {
  width: 145px !important;
}
/* MUTV */
/* FIXTURES */
.fixtures-son-one .animation-fixtures-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.fixtures-son-two .animation-fixtures-U2 {
  top: 63px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.fixtures-son-three .animation-fixtures-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 274px !important;
  width: 0 !important;
}
.fixtures-son-four .animation-fixtures-U4 {
  top: 63px !important;
  height: 2px !important;
  left: 274px !important;
  width: 0 !important;
}
.fixtures-son-five .animation-fixtures-U5 {
  top: 32px !important;
  height: 2px !important;
  left: 479px !important;
  width: 0 !important;
}
.fixtures-son-one:hover .animation-fixtures-U1 {
  width: 137px !important;
}
.fixtures-son-two:hover .animation-fixtures-U2 {
  width: 161px !important;
}
.fixtures-son-three:hover .animation-fixtures-U3 {
  width: 177px !important;
}
.fixtures-son-four:hover .animation-fixtures-U4 {
  width: 177px !important;
}
.fixtures-son-five:hover .animation-fixtures-U5 {
  width: 178px !important;
}
/* FIXTURES */
/* TICKETS */
.tickets-son-one .animation-tickets-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 84px !important;
  width: 0 !important;
}
.tickets-son-two .animation-tickets-U2 {
  top: 63px !important;
  height: 2px !important;
  left: 84px !important;
  width: 0 !important;
}
.tickets-son-three .animation-tickets-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 264px !important;
  width: 0 !important;
}
.tickets-son-four .animation-tickets-U4 {
  top: 63px !important;
  height: 2px !important;
  left: 264px !important;
  width: 0 !important;
}
.tickets-son-five .animation-tickets-U5 {
  top: 32px !important;
  height: 2px !important;
  left: 390px !important;
  width: 0 !important;
}
.tickets-son-six .animation-tickets-U6 {
  top: 63px !important;
  height: 2px !important;
  left: 390px !important;
  width: 0 !important;
}
.tickets-son-seven .animation-tickets-U7 {
  top: 32px !important;
  height: 2px !important;
  left: 564px !important;
  width: 0 !important;
}
.tickets-son-eight .animation-tickets-U8 {
  top: 63px !important;
  height: 2px !important;
  left: 564px !important;
  width: 0 !important;
}
.tickets-son-nine .animation-tickets-U9 {
  top: 32px !important;
  height: 2px !important;
  left: 768px !important;
  width: 0 !important;
}
.tickets-son-ten .animation-tickets-U10 {
  top: 63px !important;
  height: 2px !important;
  left: 768px !important;
  width: 0 !important;
}
.tickets-son-one:hover .animation-tickets-U1 {
  width: 153px !important;
}
.tickets-son-two:hover .animation-tickets-U2 {
  width: 90px !important;
}
.tickets-son-three:hover .animation-tickets-U3 {
  width: 100px !important;
}
.tickets-son-four:hover .animation-tickets-U4 {
  width: 34px !important;
}
.tickets-son-five:hover .animation-tickets-U5 {
  width: 147px !important;
}
.tickets-son-six:hover .animation-tickets-U6 {
  width: 147px !important;
}
.tickets-son-seven:hover .animation-tickets-U7 {
  width: 55px !important;
}
.tickets-son-eight:hover .animation-tickets-U8 {
  width: 178px !important;
}
.tickets-son-nine:hover .animation-tickets-U9 {
  width: 168px !important;
}
.tickets-son-ten:hover .animation-tickets-U10 {
  width: 140px !important;
}
/* TICKETS */
/* myUnited */
.myUnited-son-one .animation-myUnited-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 84px !important;
  width: 0 !important;
}
.myUnited-son-two .animation-myUnited-U2 {
  top: 32px !important;
  height: 2px !important;
  left: 218px !important;
  width: 0 !important;
}
.myUnited-son-one:hover .animation-myUnited-U1 {
  width: 109px !important;
}
.myUnited-son-two:hover .animation-myUnited-U2 {
  width: 240px !important;
}
/* myUnited */
/* FANS */
.fans-son-one .animation-fans-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 84px !important;
  width: 0 !important;
}
.fans-son-two .animation-fans-U2 {
  top: 63px !important;
  height: 2px !important;
  left: 84px !important;
  width: 0 !important;
}
.fans-son-three .animation-fans-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 290px !important;
  width: 0 !important;
}
.fans-son-four .animation-fans-U4 {
  top: 63px !important;
  height: 2px !important;
  left: 290px !important;
  width: 0 !important;
}
.fans-son-five .animation-fans-U5 {
  top: 32px !important;
  height: 2px !important;
  left: 506px !important;
  width: 0 !important;
}
.fans-son-six .animation-fans-U6 {
  top: 63px !important;
  height: 2px !important;
  left: 506px !important;
  width: 0 !important;
}
.fans-son-seven .animation-fans-U7 {
  top: 32px !important;
  height: 2px !important;
  left: 620px !important;
  width: 0 !important;
}
.fans-son-eight .animation-fans-U8 {
  top: 63px !important;
  height: 2px !important;
  left: 620px !important;
  width: 0 !important;
}
.fans-son-nine .animation-fans-U9 {
  top: 32px !important;
  height: 2px !important;
  left: 780px !important;
  width: 0 !important;
}
.fans-son-ten .animation-fans-U10 {
  top: 63px !important;
  height: 2px !important;
  left: 780px !important;
  width: 0 !important;
}
.fans-son-one:hover .animation-fans-U1 {
  width: 179px !important;
}
.fans-son-two:hover .animation-fans-U2 {
  width: 128px !important;
}
.fans-son-three:hover .animation-fans-U3 {
  width: 188px !important;
}
.fans-son-four:hover .animation-fans-U4 {
  width: 150px !important;
}
.fans-son-five:hover .animation-fans-U5 {
  width: 74px !important;
}
.fans-son-six:hover .animation-fans-U6 {
  width: 86px !important;
}
.fans-son-seven:hover .animation-fans-U7 {
  width: 95px !important;
}
.fans-son-eight:hover .animation-fans-U8 {
  width: 135px !important;
}
.fans-son-nine:hover .animation-fans-U9 {
  width: 148px !important;
}
.fans-son-ten:hover .animation-fans-U10 {
  width: 92px !important;
}
/* FANS */
/* PLAYERS */
.players-son-one .animation-players-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.players-son-two .animation-players-U2 {
  top: 32px !important;
  height: 2px !important;
  left: 147px !important;
  width: 0 !important;
}
.players-son-three .animation-players-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 232px !important;
  width: 0 !important;
}
.players-son-four .animation-players-U4 {
  top: 32px !important;
  height: 2px !important;
  left: 327px !important;
  width: 0 !important;
}
.players-son-one:hover .animation-players-U1 {
  width: 32px !important;
}
.players-son-two:hover .animation-players-U2 {
  width: 56px !important;
}
.players-son-three:hover .animation-players-U3 {
  width: 68px !important;
}
.players-son-four:hover .animation-players-U4 {
  width: 60px !important;
}
/* PLAYERS */
/* STADIUM */
.stadium-son-one .animation-stadium-U1 {
  top: 32px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.stadium-son-two .animation-stadium-U2 {
  top: 63px !important;
  height: 2px !important;
  left: 86px !important;
  width: 0 !important;
}
.stadium-son-three .animation-stadium-U3 {
  top: 32px !important;
  height: 2px !important;
  left: 298px !important;
  width: 0 !important;
}
.stadium-son-four .animation-stadium-U4 {
  top: 63px !important;
  height: 2px !important;
  left: 298px !important;
  width: 0 !important;
}
.stadium-son-five .animation-stadium-U5 {
  top: 32px !important;
  height: 2px !important;
  left: 525px !important;
  width: 0 !important;
}
.stadium-son-six .animation-stadium-U6 {
  top: 63px !important;
  height: 2px !important;
  left: 525px !important;
  width: 0 !important;
}
.stadium-son-seven .animation-stadium-U7 {
  top: 32px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.stadium-son-eight .animation-stadium-U8 {
  top: 63px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.stadium-son-nine .animation-stadium-U9 {
  top: 32px !important;
  height: 2px !important;
  left: 922px !important;
  width: 0 !important;
}
.stadium-son-one:hover .animation-stadium-U1 {
  width: 185px !important;
}
.stadium-son-two:hover .animation-stadium-U2 {
  width: 62px !important;
}
.stadium-son-three:hover .animation-stadium-U3 {
  width: 89px !important;
}
.stadium-son-four:hover .animation-stadium-U4 {
  width: 201px !important;
}
.stadium-son-five:hover .animation-stadium-U5 {
  width: 155px !important;
}
.stadium-son-six:hover .animation-stadium-U6 {
  width: 138px !important;
}
.stadium-son-seven:hover .animation-stadium-U7 {
  width: 166px !important;
}
.stadium-son-eight:hover .animation-stadium-U8 {
  width: 190px !important;
}
.stadium-son-nine:hover .animation-stadium-U9 {
  width: 77px !important;
}
/* STADIUM */
/* MORE */
.more-son-one .animation-more-son-U1 {
  top: 32px !important;
  height: 2.9px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-son-one:hover .animation-more-son-U1 {
  width: 198px !important;
}
.more-son-two .animation-more-son-U2 {
  top: 32px !important;
  height: 2.9px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-son-two:hover .animation-more-son-U2 {
  width: 150px !important;
}
.more-son-three .animation-more-son-U3 {
  top: 32px !important;
  height: 2.9px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-son-three:hover .animation-more-son-U3 {
  width: 75px !important;
}
.more-son-four .animation-more-son-U4 {
  top: 32px !important;
  height: 2.9px !important;
  left: 707px !important;
  width: 0 !important;
}
.more-son-four:hover .animation-more-son-U4 {
  width: 63px !important;
}
.more-son-five .animation-more-son-U5 {
  top: 32px !important;
  height: 2.9px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-son-five:hover .animation-more-son-U5 {
  width: 108px !important;
}
.more-son-six .animation-more-son-U6 {
  top: 32px !important;
  height: 2.9px !important;
  left: 1131px !important;
  width: 0 !important;
}
.more-son-six:hover .animation-more-son-U6 {
  width: 35px !important;
}
.more-sun-one .animation-more-U1 {
  top: 73px !important;
  height: 2px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-sun-two .animation-more-U2 {
  top: 104px !important;
  height: 2px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-sun-three .animation-more-U3 {
  top: 135px !important;
  height: 2px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-sun-four .animation-more-U4 {
  top: 165px !important;
  height: 2px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-sun-five .animation-more-U5 {
  top: 195px !important;
  height: 2px !important;
  left: 70px !important;
  width: 0 !important;
}
.more-sun-six .animation-more-U6 {
  top: 73px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-seven .animation-more-U7 {
  top: 104px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-eight .animation-more-U8 {
  top: 135px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-nine .animation-more-U9 {
  top: 166px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-ten .animation-more-U10 {
  top: 195px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-eleven .animation-more-U11 {
  top: 226px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-twelve .animation-more-U12 {
  top: 257px !important;
  height: 2px !important;
  left: 283px !important;
  width: 0 !important;
}
.more-sun-thirteen .animation-more-U13 {
  top: 290px !important;
  height: 2px !important;
  left: 282px !important;
  width: 0 !important;
}
.more-sun-fourteen .animation-more-U14 {
  top: 321px !important;
  height: 2px !important;
  left: 282px !important;
  width: 0 !important;
}
.more-sun-fifteen .animation-more-U15 {
  top: 351px !important;
  height: 2px !important;
  left: 282px !important;
  width: 0 !important;
}
.more-sun-sixteen .animation-more-U16 {
  top: 73px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-seventeen .animation-more-U17 {
  top: 104px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-eighteen .animation-more-U18 {
  top: 135px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-nineteen .animation-more-U19 {
  top: 165px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-twenty .animation-more-U20 {
  top: 195px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-twentyOne .animation-more-U21 {
  top: 226px !important;
  height: 2px !important;
  left: 495px !important;
  width: 0 !important;
}
.more-sun-twentyTwo .animation-more-U22 {
  top: 73px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.more-sun-twentyThree .animation-more-U23 {
  top: 104px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.more-sun-twentyFour .animation-more-U24 {
  top: 135px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.more-sun-twentyFive .animation-more-U25 {
  top: 165px !important;
  height: 2px !important;
  left: 707px !important;
  width: 0 !important;
}
.more-sun-twentySix .animation-more-U26 {
  top: 73px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-twentySeven .animation-more-U27 {
  top: 104px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-twentyEight .animation-more-U28 {
  top: 135px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-twentyNine .animation-more-U29 {
  top: 165px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirty .animation-more-U30 {
  top: 195px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirtyOne .animation-more-U31 {
  top: 226px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirtyTwo .animation-more-U32 {
  top: 257px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirtyThree .animation-more-U33 {
  top: 290px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirtyFour .animation-more-U34 {
  top: 321px !important;
  height: 2px !important;
  left: 919px !important;
  width: 0 !important;
}
.more-sun-thirtyFive .animation-more-U35 {
  top: 73px !important;
  height: 2px !important;
  left: 1131px !important;
  width: 0 !important;
}
.more-sun-thirtySix .animation-more-U36 {
  top: 104px !important;
  height: 2px !important;
  left: 1131px !important;
  width: 0 !important;
}
.more-sun-thirtySeven .animation-more-U37 {
  top: 135px !important;
  height: 2px !important;
  left: 1131px !important;
  width: 0 !important;
}
.more-sun-thirtyEight .animation-more-U38 {
  top: 165px !important;
  height: 2px !important;
  left: 1131px !important;
  width: 0 !important;
}
.more-sun-one:hover .animation-more-U1 {
  width: 136px !important;
}
.more-sun-two:hover .animation-more-U2 {
  width: 108px !important;
}
.more-sun-three:hover .animation-more-U3 {
  width: 71px !important;
}
.more-sun-four:hover .animation-more-U4 {
  width: 133px !important;
}
.more-sun-five:hover .animation-more-U5 {
  width: 113px !important;
}
.more-sun-six:hover .animation-more-U6 {
  width: 105px !important;
}
.more-sun-seven:hover .animation-more-U7 {
  width: 128px !important;
}
.more-sun-eight:hover .animation-more-U8 {
  width: 95px !important;
}
.more-sun-nine:hover .animation-more-U9 {
  width: 118px !important;
}
.more-sun-ten:hover .animation-more-U10 {
  width: 121px !important;
}
.more-sun-eleven:hover .animation-more-U11 {
  width: 131px !important;
}
.more-sun-twelve:hover .animation-more-U12 {
  width: 28px !important;
}
.more-sun-thirteen:hover .animation-more-U13 {
  width: 112px !important;
}
.more-sun-fourteen:hover .animation-more-U14 {
  width: 194px !important;
}
.more-sun-fifteen:hover .animation-more-U15 {
  width: 192px !important;
}
.more-sun-sixteen:hover .animation-more-U16 {
  width: 110px !important;
}
.more-sun-seventeen:hover .animation-more-U17 {
  width: 127px !important;
}
.more-sun-eighteen:hover .animation-more-U18 {
  width: 109px !important;
}
.more-sun-nineteen:hover .animation-more-U19 {
  width: 127px !important;
}
.more-sun-twenty:hover .animation-more-U20 {
  width: 107px !important;
}
.more-sun-twentyOne:hover .animation-more-U21 {
  width: 162px !important;
}
.more-sun-twentyTwo:hover .animation-more-U22 {
  width: 132px !important;
}
.more-sun-twentyThree:hover .animation-more-U23 {
  width: 95px !important;
}
.more-sun-twentyFour:hover .animation-more-U24 {
  width: 154px !important;
}
.more-sun-twentyFive:hover .animation-more-U25 {
  width: 59px !important;
}
.more-sun-twentySix:hover .animation-more-U26 {
  width: 147px !important;
}
.more-sun-twentySeven:hover .animation-more-U27 {
  width: 173px !important;
}
.more-sun-twentyEight:hover .animation-more-U28 {
  width: 123px !important;
}
.more-sun-twentyNine:hover .animation-more-U29 {
  width: 90px !important;
}
.more-sun-thirty:hover .animation-more-U30 {
  width: 144px !important;
}
.more-sun-thirtyOne:hover .animation-more-U31 {
  width: 103px !important;
}
.more-sun-thirtyTwo:hover .animation-more-U32 {
  width: 171px !important;
}
.more-sun-thirtyThree:hover .animation-more-U33 {
  width: 162px !important;
}
.more-sun-thirtyFour:hover .animation-more-U34 {
  width: 155px !important;
}
.more-sun-thirtyFive:hover .animation-more-U35 {
  width: 90px !important;
}
.more-sun-thirtySix:hover .animation-more-U36 {
  width: 89px !important;
}
.more-sun-thirtySeven:hover .animation-more-U37 {
  width: 78px !important;
}
.more-sun-thirtyEight:hover .animation-more-U38 {
  width: 130px !important;
}
/* MORE */

/* Hiệu ứng dấu gạch chân trên menu */
/* Hiệu ứng dấu gạch chân */
.slider-1 .animation-underlined,
.slider-2 .animation-underlined-one,
.slider-3 .animation-underlined-two {
  display: block;
  position: absolute;
  background-color: #c70101;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slider-1 .animation-underlined,
.slider-2 .animation-underlined-one,
.slider-3 .animation-underlined-two {
  height: 4px;
  left: 10px;
  width: 0;
}
.slider-1:hover .animation-underlined {
  width: 310px;
}
.slider-2:hover .animation-underlined-one {
  width: 198px;
}
.slider-3:hover .animation-underlined-two {
  width: 255px;
}
.content .content-subson,
.content .content-subsons,
.content .content-subson-one,
.content .content-subson-two,
.content .content-subsons-last {
  display: block;
  position: absolute;
  background-color: #c70101;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.content .content-subson {
  height: 2px;
  left: 230px;
  width: 0;
}
.content .content-subson-one {
  height: 2px;
  left: 672px;
  width: 0;
}
.content .content-subson-two {
  height: 2px;
  left: 1114px;
  width: 0;
}
.slider-son:first-child:hover .content-subson,
.slider-son:nth-child(2):hover .content-subson-one,
.slider-son:nth-child(3):hover .content-subson-two {
  width: 110px;
}
.content .content-subsons {
  height: 3px;
  left: 10px;
  width: 0;
}
.content .content-subsons-last {
  height: 3px;
  left: 678px;
  width: 0;
}
.slider-sons:first-child:hover .content-subsons,
.slider-sons:nth-child(2):hover .content-subsons-last {
  width: 250px;
}
/* Hiệu ứng dấu gạch chân */

.header-son span {
  display: block;
  position: absolute;
  background-color: yellow;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header-son span:nth-child(1) {
  top: 20px;
  width: 0;
  height: 2px;
}
.header-son span:nth-child(2) {
  top: 20px;
  width: 2px;
  height: 0;
  transition-delay: 0.25s;
}
.header-son span:nth-child(3) {
  bottom: 20px;
  width: 0;
  height: 2px;
  transition-delay: 0.5s;
}
.header-son span:nth-child(4) {
  bottom: 20px;
  width: 2px;
  height: 0;
  transition-delay: 0.75s;
}
.header-son:hover span:nth-child(even) {
  height: 43px;
}
.ring {
  position: fixed;
  z-index: 10;
  margin: 280px 650px;
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  border: 2px solid #fed606;
  border-top: 2px solid #c70101;
  border-bottom: 2px solid #234e4d;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* Phần dùng chung */
/* LATEST */
.header-son:nth-child(2) span:nth-child(1),
.header-son:nth-child(2) span:nth-child(4) {
  left: 70px;
}
.header-son:nth-child(2) span:nth-child(2),
.header-son:nth-child(2) span:nth-child(3) {
  right: 1199px;
}
.header-son:hover:nth-child(2) span:nth-child(odd) {
  width: 72.5px;
}
/* .header-son:nth-child(2):before {
  content: "";
  background-color: white;
  position: absolute;
  z-index: -1;
  transition: width 0.25s linear 1s;
  top: 10px;
  left: 68px;
  height: 50px;
  width: 0;
}

.header-son:nth-child(2):hover:before {
  width: 72.5px;
} */
/* LATEST */

/* MUTV */
.header-son:nth-child(3) span:nth-child(1),
.header-son:nth-child(3) span:nth-child(4) {
  left: 153px;
}
.header-son:nth-child(3) span:nth-child(2),
.header-son:nth-child(3) span:nth-child(3) {
  right: 1123px;
}
.header-son:hover:nth-child(3) span:nth-child(odd) {
  width: 65.53px;
}
/* MUTV */

/* SHOP */
.header-son:nth-child(4) span:nth-child(1),
.header-son:nth-child(4) span:nth-child(4) {
  left: 227px;
}
.header-son:nth-child(4) span:nth-child(2),
.header-son:nth-child(4) span:nth-child(3) {
  right: 1052px;
}
.header-son:hover:nth-child(4) span:nth-child(odd) {
  width: 61.92px;
}
/* SHOP */
/* FIXTURES  */
.header-son:nth-child(5) span:nth-child(1),
.header-son:nth-child(5) span:nth-child(4) {
  left: 299px;
}
.header-son:nth-child(5) span:nth-child(2),
.header-son:nth-child(5) span:nth-child(3) {
  right: 953px;
}
.header-son:hover:nth-child(5) span:nth-child(odd) {
  width: 89.94px;
}
/* FIXTURES */
/* TICKETS */
.header-son:nth-child(6) span:nth-child(1),
.header-son:nth-child(6) span:nth-child(4) {
  left: 400px;
}
.header-son:nth-child(6) span:nth-child(2),
.header-son:nth-child(6) span:nth-child(3) {
  right: 863px;
}
.header-son:hover:nth-child(6) span:nth-child(odd) {
  width: 79.11px;
}
/* TICKETS */
/* MY UNITED */
.header-son:nth-child(7) span:nth-child(1),
.header-son:nth-child(7) span:nth-child(4) {
  left: 487px;
}
.header-son:nth-child(7) span:nth-child(2),
.header-son:nth-child(7) span:nth-child(3) {
  right: 749px;
}
.header-son:hover:nth-child(7) span:nth-child(odd) {
  width: 105.2px;
}
/* MY UNITED */
/* FANS */
.header-son:nth-child(8) span:nth-child(1),
.header-son:nth-child(8) span:nth-child(4) {
  left: 603px;
}
.header-son:nth-child(8) span:nth-child(2),
.header-son:nth-child(8) span:nth-child(3) {
  right: 679px;
}
.header-son:hover:nth-child(8) span:nth-child(odd) {
  width: 58.81px;
}
/* FANS */
/* PLAYERS */
.header-son:nth-child(9) span:nth-child(1),
.header-son:nth-child(9) span:nth-child(4) {
  left: 672px;
}
.header-son:nth-child(9) span:nth-child(2),
.header-son:nth-child(9) span:nth-child(3) {
  right: 586px;
}
.header-son:hover:nth-child(9) span:nth-child(odd) {
  width: 83.31px;
}
/* PLAYERS */
/* STADIUM */
.header-son:nth-child(10) span:nth-child(1),
.header-son:nth-child(10) span:nth-child(4) {
  left: 765px;
}
.header-son:nth-child(10) span:nth-child(2),
.header-son:nth-child(10) span:nth-child(3) {
  right: 487px;
}
.header-son:hover:nth-child(10) span:nth-child(odd) {
  width: 89.3px;
}
/* STADIUM */
/* MORE */
.header-son:nth-child(11) span:nth-child(1),
.header-son:nth-child(11) span:nth-child(4) {
  left: 865px;
}
.header-son:nth-child(11) span:nth-child(2),
.header-son:nth-child(11) span:nth-child(3) {
  right: 411px;
}
.header-son:hover:nth-child(11) span:nth-child(odd) {
  width: 65.13px;
}
/* MORE */
/* SIGN IN */
.header-son:nth-child(12) span:nth-child(1),
.header-son:nth-child(12) span:nth-child(4) {
  left: 940px;
}
.header-son:nth-child(12) span:nth-child(2),
.header-son:nth-child(12) span:nth-child(3) {
  right: 311px;
}
.header-son:hover:nth-child(12) span:nth-child(odd) {
  width: 91.27px;
}
/* SIGN IN */
/* SEARCH */
.header-son:nth-child(13) span:nth-child(1),
.header-son:nth-child(13) span:nth-child(4) {
  left: 1229px;
}
.header-son:nth-child(13) span:nth-child(2),
.header-son:nth-child(13) span:nth-child(3) {
  right: 20px;
}
.header-son:hover:nth-child(13) span:nth-child(odd) {
  width: 93.19px;
}
/* SEARCH */
